In [2]:
import pandas as pd

In [34]:
df = pd.read_csv("../diabetes.csv")
col = df.columns.tolist()
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [62]:
df.head(10)
drop_ind = [i for i in range(0,10,2)]
print(drop_ind)
df.drop(drop_ind,axis = 0,inplace =True)
df.reset_index(drop = True)
df.head(10)

[0, 2, 4, 6, 8]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,8,125,96,0,0,0.0,0.232,54,1
11,10,168,74,0,0,38.0,0.537,34,1
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
19,1,115,70,30,96,34.6,0.529,32,1
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1

In [31]:
def makeMonkey(args):
    monkey = {}
    
    i = 0
    
    for j in range(0,len(args),3):
        monkey[i] = args[j:j+3]
        i += 1
    
    return monkey

def read_rule(rule):
    rule = makeMonkey(rule)
    print("\nIf ")
    for k,v in rule.items():
        if v[0] == 1:
            mx = max(v[1],v[2])
            mn = min(v[1],v[2])
            print(f"{mn} <= {col[k]} <= {mx} and ")
    print("Then Class = Positive\n")


def delRows(args,sign):
    if(df.shape[0] < 50):
        print("Data set size less then threshold\n")
        return
    
    drop_ind = []
    args = makeMonkey(args)
    score = 0
    index = df.index.tolist()
    for i in index:
        rule_satisfied = True
        for k,v in args.items():
            if v[0] == 1:
                mn = min(v[1],v[2])
                mx = max(v[1],v[2])

                if df.loc[i][col[k]] < mn or df.loc[i][col[k]] > mx:
                    rule_satisfied = False
                    break
        if rule_satisfied and df.loc[i]["Outcome"] == sign:
            score += 1
            drop_ind.append(i)

    df.drop(drop_ind,axis = 0,inplace = True)
    return score

In [32]:
args = [
    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,19.27,96.28,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.36,2.0,1,23,74],
    [0,0,0,1,95,179,0,0,0,0,0,0,0,0,0,1,31.7,58.16,0,0,0,0,0,0],
    [0,0,0,0,0,0,0,0,0,1,32,95,0,0,0,0,0,0,0,0,0,0,0,0]
]

In [35]:
for i in range(0,len(args)):
    print(f"Size : {df.shape[0]}")
    read_rule(args[i])
    score = delRows(args[i],0)
    print(f"Score : {score}\n")
    print("------------------------------------")

Size : 768

If
19.27 <= BMI <= 96.28 and
Then Class = Positive

Score : 486

------------------------------------
Size : 282

If
0.36 <= DiabetesPedigreeFunction <= 2.0 and
23 <= Age <= 74 and
Then Class = Positive

Score : 3

------------------------------------
Size : 279

If
95 <= Glucose <= 179 and
31.7 <= BMI <= 58.16 and
Then Class = Positive

Score : 0

------------------------------------
Size : 279

If
32 <= SkinThickness <= 95 and
Then Class = Positive

Score : 0

------------------------------------

In [23]:
def F(args):
    for i in args:
        print(df_new.loc[i][0])
    
    df_new.drop(args,axis = 0,inplace = True)


dix = {i:i for i in range(0,21)}

df_new = pd.DataFrame.from_dict(dix,orient = 'index')


F([0,2,4,8])
F([20,19,18])

df_new

0
2
4
8
20
19
18

     0
1    1
3    3
5    5
6    6
7    7
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17